﻿@using AntiRating.Helpers
@model AntiRating.Models.ClaimModel

<li class="list-item">
    <a href="@Url.Action("Add", "Dislike", new {claimId = Model.Id})">
        <div class="img-c">
            @if (Model.ObjectPhoto != null && Model.ObjectPhoto.Id.HasValue)
            {
                @Html.ShowImage(Model.ObjectPhoto.Id.Value)
            }
            else
            {<img src="~/Images/nophoto_03.gif"/>
            }
        </div>
        <div class="name-b">@Model.Name</div>
        <div class="level">@Model.Place</div>
        <div class="country">@Model.Region</div>
        <div class="country">@Model.CurrentCategoryDislikeCount</div>
    </a>
</li>