﻿@using AntiRating.Helpers
@model AntiRating.Models.NewClaimModel

<div class="herota clearfix">
    <a class="thief-content-imgWrap" href="@Url.Action("Add", "Dislike", new {claimId = Model.Id})"></a>
    <div class="immmg">
        @if (@Model.ObjectPhoto != null && @Model.ObjectPhoto.Id.HasValue)
        {
            @Html.ShowImage(@Model.ObjectPhoto.Id.Value)
        }
        else
        {
            <img src="~/Images/nophoto_03.gif" />
        }
        <div class="level"><i class="fa fa-user-secret"></i> @Model.ObjectType.Description()</div>
        <div class="edit">
            <a href="@Url.Action("Edit", "Claim", new {id = @Model.Id})">Редактировать</a>
        </div>
    </div>
    <div class="top">
        <div class="name-b">@Model.Name</div>
        <div class="country"><i class="fa fa-calendar"></i> @Model.CreationDate.Value.ToString("f")</div>
        <div class="prvws"><strong>Просмотров:</strong> @Model.ViewCount</div>
    </div>

    <div class="centr">
        @Html.Raw(@Model.Text)
    </div>
    <!--<div class="clearfix"></div>-->
    
</div>
