﻿@model List<AntiRating.Models.ClaimModel>

@{
    var guid = Guid.NewGuid().ToString("N");
}

<div class="blog-find">

    @{
        var classItem = "active";
        var countRows = Model.Count;
        var list = Model.Select(item => item.Id).ToList();
    }
    <div id="@guid" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            @while (countRows > 0)
            {
                <div class="item @classItem">
                    <ul style="padding: 0 10px;">
                        @foreach (var claim in Model.Where(x => list.Contains(x.Id)).Take(4))
                        {
                            @Html.Partial("_claimFiels", claim)
                            list.Remove(claim.Id);
                        }
                    </ul>
                </div>

                countRows = countRows - 4;
                classItem = "";
            }
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control" href="#@guid" role="button" data-slide="prev" style="left: -70px;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control" href="#@guid" role="button" data-slide="next" style="left: 510px;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

