﻿@using System.Web.Mvc.Html
@using MvcPager
@model AntiRating.Models.MainRating

@{
    ViewBag.Title = "Главная страница";
}
@{
    ViewBag.DislikeCategory = null;
}
<div class="main-content">
    @Html.Partial("_mainSearchContainer ")

    <div class="clearfix"></div>

    @if (Model.FraudsterRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Мошенники. Топ 100</h2>
        @Html.Partial("_topList", Model.FraudsterRatings)
    }

    @if (Model.ThiefRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Воры. Топ 100</h2>
        @Html.Partial("_topList", Model.ThiefRatings)
    }

    @if (Model.BribetakerRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Взяточники. Топ 100</h2>
        @Html.Partial("_topList", Model.BribetakerRatings)
    }

    @if (Model.MarriageSwindlerRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Брачные аферисты. Топ 100</h2>
        @Html.Partial("_topList", Model.MarriageSwindlerRatings)
    }

    @if (Model.AlimonyRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Алименты. Топ 100</h2>
        @Html.Partial("_topList", Model.AlimonyRatings)
    }

    @if (Model.DistasteRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Неприязнь. Топ 100</h2>
        @Html.Partial("_topList", Model.DistasteRatings)
    }

    @if (Model.DeceiversRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Обманщики. Топ 100</h2>
        @Html.Partial("_topList", Model.DeceiversRatings)
    }

    @if (Model.InfidelityRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Измена. Топ 100</h2>
        @Html.Partial("_topList", Model.InfidelityRatings)
    }


    @if (Model.SlanderRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Клевета. Топ 100</h2>
        @Html.Partial("_topList", Model.SlanderRatings)
    }


    @if (Model.UnscrupulousEmployersRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Недобросовестные работодатели. Топ 100</h2>
        @Html.Partial("_topList", Model.UnscrupulousEmployersRatings)
    }


    @if (Model.UnscrupulousEmployeesRatings.Any())
    {
        <h2 style="color: #373737">Рейтинг Недобросовестные работники. Топ 100</h2>
        @Html.Partial("_topList", Model.UnscrupulousEmployeesRatings)
    }

    
</div>
@if (Model.MyTop4Dislikes.Any())
{
    <div class="right-menu-dislikes">
        @Html.Partial("_dislikesBlock", Model.MyTop4Dislikes)
    </div>
}