﻿@using AntiRating.Domain
@using AntiRating.Helpers
@model List<AntiRating.Models.NewClaimModel>

@{
    ViewBag.Title = "Результаты поиска";
}


@Html.Partial("_searchContainer")

<div class="blog-find">

    @if (Model.Any())
    {
        <ul style="padding: 0 10px;">
            @foreach (var claim in Model)
            {
            @Html.Partial("_claimFiels", claim)
            }
        </ul>
    }
    else
    {
        <p>Ничего не найдено!</p>
    }

</div>