﻿@using AntiRating.Domain
@using MvcPager
@model MvcPager.IPagedList<AntiRating.Models.NewClaimModel>

@{
    ViewBag.Title = "мошенники";
}

<h2 style="color: #373737">мошенники</h2>

@{
    ViewBag.DislikeCategory = DislikeCategory.Fraudster;
}
@Html.Partial("_searchContainer")


<div class="blog-find-multisearch">
    <div class="themees2">
        
            @if (Model.Any())
            {
                <div class="m-top30">
                    @foreach (var claim in Model)
                    {
                        @Html.Partial("_claimFields1", claim)
                    }
                </div>

                <div class="pager m-top30">
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, Url.Action("TopFraudster", "Home", new RouteValueDictionary { { "pageIndex", Model.PageNumber } }))
                </div>
            }
            else
            {
                <h2 style="color: #373737">Ничего не найдено </h2>
            }
      
    </div>
</div>