﻿@using AntiRating.Domain
@using MvcPager
@model MvcPager.IPagedList<AntiRating.Models.NewClaimModel>

@{
    ViewBag.Title = "брачные аферисты";
}

<h2 style="color: #373737">брачные аферисты</h2>


@{
    ViewBag.DislikeCategory = DislikeCategory.MarriageSwindler;
}
@Html.Partial("_searchContainer")


<div class="blog-find-multisearch">
    <div class="themees2">
        @if (Model.Any())
            {
            <div class="m-top30">
                @foreach (var claim in Model)
                {
                    @Html.Partial("_claimFields1", claim)
                }
            </div>

            <div class="pager m-top30">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, Url.Action("TopMarriageSwindler", "Home", new RouteValueDictionary { { "pageIndex", Model.PageNumber } }))
            </div>
        }
        else
        {
            <h2 style="color: #373737">Ничего не найдено </h2>
        }
 </div>
</div>
