﻿@using AntiRating.Domain
@using MvcPager
@model MvcPager.IPagedList<AntiRating.Models.NewClaimModel>

@{
    ViewBag.Title = "воры";
}


@{
    ViewBag.DislikeCategory = DislikeCategory.Thief;
}
@Html.Partial("_searchContainer")

<h2 class="thief-mainTitle">воры</h2>

<div class="blog-find-multisearch">
    <div class="themees2">

        @if (Model.Any())
            {
            <div class="m-top30">
                @foreach (var claim in Model)
                {
                    @Html.Partial("_claimFields1", claim)
                }
            </div>
                <div class="pager m-top30">
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, Url.Action("TopThief", "Home", new RouteValueDictionary { { "pageIndex", Model.PageNumber } }))
                </div>
        }
        else
        {
            <h2 style="color: #373737">Ничего не найдено </h2>
        }
 
    </div>
</div>
