﻿body {
    -ms-background-size: cover;
    background: url('../Images/ff.png');
    background-size: cover;
    margin: 0;
    padding: 0;
}

a { color: inherit }

.c-black { color: black }

.wrapper {
    font-family: Arial;
    margin: 0 auto;
    padding: 25px 0 0 0;
    max-width: 1200px;

}

.top-header-menu {
    -ms-border-radius: 10px;
    background: #508abc;
    border-radius: 10px;
    padding: 0;
    margin: 0 0 10px 0;
    /*padding-right: 5px;*/
    text-align: left;
    font-size: 0;
}

.top-header-menu li {
    border-left: 1px solid #c4c4c4;
    color: #fff;
    display: block;
    font-size: 0;
    list-style-type: none;
    /*margin-bottom: -4px;
    margin-right: -5px;*/
    max-width: 150px;
    /*word-break: break-all;
    word-wrap: break-word;*/
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}
.top-header-menu li:first-child{
    border: none;
    border-radius: 10px 0 0 10px;
}
.top-header-menu li:hover { background: #60aaea; }

.top-header-menu li:last-child:hover {
    -ms-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.top-header-menu li a {
    color: inherit;
    /*float: left;*/
    display: block;
    height: 100%;
    width: 100%;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    font-size: 12px;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }


.left-menu-account {
    color: #fff;
    float: left;
    font-size: 0;
    width: 30%;
    max-width: 260px;
}

.h-color {
    background: #508abc !important;
    color: #fff !important
}

.button-in {
    background: #ced6dc;
    border-radius: 10px 0px 0 0px;
    color: #373737;
    cursor: pointer;
    float: left;
    padding: 12px;
    text-align: center;
    width: 90px;
}

.button-reg {
    background: #ced6dc;
    border-radius: 0 10px 0 0;
    color: #373737;
    cursor: pointer;
    float: left;
    padding: 12px;
    text-align: center;
    width: 160px;
}

.button-in:hover,
.button-reg:hover {
    background: #c4cace;
    text-decoration: none;
}

.left-menu-acc-link {
    width: 50%;
    display: inline-block;
    font-size: 14px;
}

#registerForm, #loginForm {
    margin: 0 auto;
    padding: 20px;
    width: 500px;
}

#rememberMe {
    float: left;
    margin-right: 4px;
    margin-top: -2px;
}

label[for="rememberMe"] {
    float: left;
    font-size: 12px;
    margin-top: -4px;
}

.i_miss_password {
    color: #fff;
    float: right;
    font-size: 12px;
    margin-top: -4px;
    text-decoration: underline;
}

.go-loginform {
    margin-top: 10px;
    width: 100%;
}

.main-content {
    float: left;
    margin-left: 15px;
    width: 60%;
    max-width: 630px;
}

.search-block {
    background: #508abc;
    border-radius: 4px;
    /*float: left;*/
    padding: 18px 20px;
    width: 100%;
}

.col-lg-12.homePage-search-col {
    float: none;
    padding: 0;
}
.row.homePage-search-row {
    margin: 0;
}
.m-top30.homePage-search-reason {
    margin: 0 2% 0 0;
    padding: 0;
    width: 49%;
}
.m-top30.homePage-search-nameBad {
    margin: 0 0 0 0;
    padding: 0;
    width: 49%;
}
.col-lg-4.homePage-search-state-sel {
    padding: 0;
    width: 100%;
}
.m-bot15.homePage-search-submit {
    padding: 0;
}


.search-block2 {
    background: #508abc;
    border-radius: 4px;
    float: right;
    padding: 18px 10px;
    width: 76%;
    margin-bottom: 20px;
}
.thief-search.search-block2 .col-lg-8 {
    width: 50%;
}

.thief-search.search-block2 .col-lg-4 {
    width: 50%;
}

.thief-mainTitle {
    color: #373737; 
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    clear: both;
}
.search-block label { color: white; }

.left-offset {
    float: left;
    margin-left: -270px;
}

.blog-find {
    -ms-border-radius: 10px;
    border-radius: 10px;
    /*padding: 18px 10px;*/
    float: left;
    margin: 15px 30px;
    /*width: 540px;*/
    width: 100%;
}

h2[style="color: #373737"] {
    font-weight: 600;
    text-align: center;
}


.blog-find-multisearch {
    -ms-border-radius: 10px;
    border-radius: 10px;
    /*padding: 18px 10px;*/
    /*float: left;*/
    margin: 15px 3px;
    /*width: 540px;*/
    width: 100%;
}

.blog-find-2 {
    background: #508abc;
    border-radius: 10px;
    float: left;
    margin: 0 auto;
    margin-top: 15px;
    padding: 18px 10px;
    width: 830px;
}

.add-advert-list {
    background: #f6f6f6;
    border-bottom: 7px solid #ccc;
    list-style: none;
    padding: 10px;
    font-size: 14px;
}

.add-advert-list li a {
    color: #425979;
    font-size: 11px;
}

.add-advert-list li {
    padding-left: 1em;
    text-indent: -.7em;
}

.add-advert-list li:before {
    color: #425979;
    content: ">> ";
    font-size: 9px;
}

.about-us {
    background: #f6f6f6;
    color: #373737;
    padding: 10px;
    /*width: 250px;*/
    font-size: 14px;
}

.list-item {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 6px;
    padding: 2px;
}

.list-item a:hover { text-decoration: none; }

.list-item:hover { background: rgb(62, 98, 129); }

.list-item .img-c {
    height: 120px;
    width: 120px;
}

.list-item .img-c img {
    height: inherit;
    width: inherit;
    display: block;
    margin: auto;
    object-fit: cover;
}

.list-item .name-b {
    background: #fff;
    color: #373737;
    font-size: 11px;
    padding: 2px;
    width: 120px;
}

.list-item .level {
    background: #508ABC;
    color: #fccb06;
    font-size: 11px;
    padding: 2px;
    text-align: center;
    width: 120px;
}

.list-item .country {
    background: #508ABC;
    border-top: 2px solid #f1f1f1;
    color: #fff;
    font-size: 9px;
    padding: 2px;
    width: 120px;
}

.carousel-control span.glyphicon:before { color: #343434; }

ul li.list-item:last-child { margin-right: 0px; }

.footer {
    background: #fff;
    border-bottom: 4px solid #508abc;
    margin-top: 20px;
    padding: 10px;
}

.footer p {
    color: #373737;
    font-size: 12px;
}

.right-menu-dislikes {
    background: #508abc;
    border-radius: 4px;
    float: left;
    margin-left: 15px;
    /*position: absolute;
    top: 116px;*/
    max-width: 280px;
}

.right-menu-dislikes h4 {
    background-image: url(../Images/bgbg.gif);
    background-position: center top;
    background-repeat: repeat;
    background-size: 100% auto;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    width: 90%;
    border-radius: 3px;
    text-transform: uppercase;
}

.right-menu-dislikes p.name {
    color: #fff0f5;
    font-weight: bold;
    /*margin-left: 15px;*/
}

.right-menu-dislikes .photo-block {
    float: left;
    height: 100px;
    /*margin: 0 15px;*/
    width: 100px;
}

.right-menu-dislikes .photo-block .mainPage-dis-imglink {
    display: block;
}

.right-menu-dislikes .photo-block img {
    height: auto;
    width: 100%;
    vertical-align: top;
    display: block;
    margin: auto;
    object-fit: cover;
}

.right-menu-dislikes .count-dislike {
    float: right;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    width: 75px;
    word-wrap: normal;
}

.right-menu-dislikes .count-dislike img {
    display: block;
    vertical-align: top;
    max-width: 100%;
    margin: 10px auto;       
}

.right-menu-dislikes .type-org {
    /*float: left;*/
    font-weight: bold;
    /*margin-left: 80px;*/
    text-align: center;
    font-size: 14px;
    /*width: 75px;*/
}

.right-menu-dislikes hr { border-top: 2px dotted #ccc; }

.right-menu-dislikes .list-data {
    font-size: 11px;
    margin: 0 0 0 5px;
    float: left;
    max-width: 80px;
    /*position: absolute;*/
}
.list-data1 {
    padding: 0 0 13px 15px;
    background: #f1f1f1;
}
.list-data1 a {
    color: black;
    float: left;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}


.right-menu-dislikes .list-data a {
    color: red;
    font-weight: normal;
    margin: 0 0 15px;
    /*margin-left: 5px;*/
    /*text-align: center;*/
    display: block;
    /*position: absolute;
    top: -60px;*/
    width: 100%;
}
.right-menu-dislikes .list-data a:last-child {
    
}
.right-menu-dislikes .list-data a span {
    /*float: left;*/
    /*margin-top: 4px;
    margin-left: 5px;*/
    display: inline-block;
}
.right-menu-dislikes .list-data a:hover span { text-decoration: underline; }
/*.right-menu-dislikes .list-data a:nth-child(1) { top: -59px; }

.right-menu-dislikes .list-data a:nth-child(2) { top: -30px; }

.right-menu-dislikes .list-data a:nth-child(3) { top: 0; }*/

.right-menu-dislikes .list-data a:hover { text-decoration: none; }

.right-menu-dislikes .list-data a img {
     /*float: left;*/
    display: inline-block;
}

.cabinet { padding: 10px; }

.mainPage-dislike-item {
    padding: 0 15px 0 15px;
}

#disklimer {
    -ms-background-size: cover;
    background: url('../Images/ff.png');
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#disklimer div {
    background: #508abc;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
}

#disklimer p {
    color: #000;
    font-weight: 600;
    margin: 40px auto;
    width: 50%;
}

#disklimer p button:first-child { margin-right: 35px; }

.head-reg {
    background: #508abc;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 15px 0;
}

.head-reg input[type="text"], .head-reg input[type="password"] {
    color: #000;
    font-size: 12px;
    padding: 3px;
    width: 200px;
}

.head-reg input[type="submit"] {
    background: #5a73a8;
    border: 1px solid #333;
    color: #fff;
    font-size: 12px;
    margin-right: 150px;
    padding: 4px;
    width: 60px;
}

.head-reg label {
    font-size: 12px;
    margin-right: 82px;
}

.head-reg a {
    color: #fff;
    font-size: 12px;
    margin-right: 271px;
}

.calaim_ul { }

.calaim_ul li { display: inline; }

.head-reg .calaim_ul li a {
    display: inline;
    margin-right: 50px;
}

.head-reg .calaim_ul li a:hover { color: #fff; }

.gr-bl {
    background: #f1f1f1;
    float: left;
    height: 200px;
    padding: 20px 20px 10px;
    width: 185px;
}

.gr-bl a {
    color: #000;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}

.prof-fl {
    background: #fff;
    float: left;
    height: 200px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    width: 460px;
}

.prof-fl h4 {
    font-weight: 600;
    margin: 0 0 10px 0;
    text-decoration: underline;
}

.prof-fl p { font-size: 13px; }

.prof-fl p strong { color: #5a73a8 }

.prof-fl .img-ctr {
    height: 100px;
    position: absolute;
    right: 25px;
    top: 20px;
    width: 100px;
}

.prof-fl .img-ctr img, .img-dzl img {
    height: inherit;
    width: inherit;
}

.img-dzl {
    float: left;
    margin-right: 10px;
    width: 100px;
}

.adv-gfl {
    background: #fff;
    float: left;
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 185px;
}

.themees {
    float: left;
    margin-top: 10px;
    width: 1124px;
}

.themees ul { padding: 0; }

.themees .herota {
    clear: both;
    list-style-type: none;
    margin-bottom: 20px;
    min-height: 200px;
    background: #fff;
    padding: 10px;
}

.themees .herota .immmg {
    float: left;
    text-align: center;
    width: 110px;
}

.themees .herota .immmg img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.themees .herota .immmg .name-b { font-weight: 600; }

.themees .herota .immmg .edit { font-size: 12px; }

.themees .herota .top {
    float: left;
    margin-bottom: 5px;
    text-align: right;
    width: 800px;
}

.themees .herota .top .name-b {
    display: inline-block;
    margin-right: 10px;
}

.themees .herota .top .country {
    display: inline-block;
    margin-right: 10px;
}

.themees .herota .top .prvws {
    display: inline-block;
    margin-right: -159px;
}

.themees .herota .centr {
    background: #f1f1f1;
    float: left;
    padding: 10px;
    width: 970px;
}






.themees2 {
    /*float: left;*/
    margin-top: 10px;
    /*width: 895px;*/
    width: 100%;
}

.themees2 ul { padding: 0; }
.themees2 .thief-content-imgWrap {
    display: block;
}
.themees2 .herota {
    clear: both;
    list-style-type: none;
    margin-bottom: 20px;
    /*min-height: 200px;*/
    background: #f1f1f1;
    padding: 10px;
}

.themees2 .herota .immmg {
    float: left;
    text-align: center;
    width: 170px;
    margin-right: 30px;
}

.themees2 .herota .immmg img {
    height: auto;
    max-height: inherit;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    margin-bottom: 10px;
    border: 2px solid #fff;
}

.themees2 .herota .immmg .name-b { font-weight: 600; }

.themees2 .herota .immmg .edit { font-size: 12px; }

.themees2 .herota .top {
    float: left;
    margin-bottom: 15px;
    text-align: right;
    border-bottom: 2px dashed #000;
    /*width: 800px;*/
}

.themees2 .herota .top .name-b {
    display: inline-block;
    margin-right: 10px;
}

.themees2 .herota .top .country {
    display: inline-block;
    margin-right: 10px;
}

.themees2 .herota .top .prvws {
    display: inline-block;
    /*margin-right: -46px;*/
}

.themees2 .herota .centr {
    background: #f1f1f1;
    float: left;
    /*padding: 10px;*/
    max-width: 980px;
    text-align: justify;
}

/*******Dislike Page********/
div#addPost {
    background: #508abc;
    position: fixed;
    left: 0;
    width: 30px;
    height: 350px;
    top: 50%;
    margin-top: -175px;
    padding: 10px 10px;
    z-index: 999;
    border: 1px solid #23537d;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
    writing-mode: bt-lr;
    word-break: break-all;
}
div#addPost:hover {
    background: #5998ce;
    color: #f1f1f1;
    padding: 10px 25px;
    font-weight: 700;
}
.fa.fa-arrow-up {
    margin-bottom: 15px;
}
.fa.fa-arrow-down {
    margin-top: 15px;
}
div#openPost {
    background: #508abc;
    bottom: 0px;
    left: 377px;
    position: fixed;
    width: 1150px;
    padding: 10px 20px;
    z-index: 950;
    border: 1px solid #23537d;
    border-bottom: none;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#hidePost {
    padding: 5px 0;
    cursor: pointer   
}
.position-center.disPage-center {
    float: left;
    overflow: hidden;
    margin: 0 0 0 1.3%;
    width: 77%;
    max-width: 940px;
}
body .disPage-title {
    margin: 0 0 15px 0;
    font-weight: 600;
}
.disPage-img-wrap {
    max-width: 230px;
    max-height: 150px;
    float: left;
    margin-right: 10px;
}
.disPage-img {
    width: 100%;
    height: auto;
    max-height: inherit;
    vertical-align: top;
    margin-bottom: 15px;
}
.disPage-dislike-count {
    font-weight: 500;
    text-transform: uppercase;
}
.disPage-dislike-count span {
    font-weight: 700;
}
.disPage-img-text {
    max-width: 680px;
    float: left;
    text-align: justify;
    line-height: 1.5;
}
.disPage-title-link {
    display: block;
    float: left;
}
.disPage-edit-view {
    /*float: right;*/
}
.dislikePage-user-comments {
    background: #f1f1f1;
    padding: 10px 15px;

}
hr.blog-post-sep {
    border: none;
    margin-bottom: 40px;
}
.dislikePage-listData-in {
    margin-bottom: 20px;
}
.dislikePage-img-icon {
    max-width: 40px;
    vertical-align: top;
    height: auto;
    margin-top: 10px;
}