﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

::selection {
    color: #fff;
    background: #00a0bf;
}

.position-center {
    width:100%;
    margin: 0 auto;
}

.position-center-2 {
    width:1200px;
    margin: 0 auto;
}
.transition {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
h1 {
    font-size: 33px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 26px;
    /*color: #fff;*/
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
p {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
a.button { padding: 9px 14px; }
.button {
    background: #5a73a8;
    border: 1px solid #333;
    color: #fff;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration: none !important;
}
.button:hover {
    background: #627db5;
    color: #fff;
    text-decoration: none !important;
}
.button:focus {
    border: 1px solid #5a73a8;
    color: #fff;
    text-decoration: none !important;
    outline: none
}
.button.invert {
    background: #fff;
    color: #5a73a8;
    border: 1px solid #ccc;
}
.button.invert:hover {
    background: #5a73a8;
    color: #fff;
}
.m-bot10 { margin-bottom: 10px; }
.m-bot15 { margin-bottom: 15px; }
.m-bot30 { margin-bottom: 30px; }
.m-top15 { margin-top: 15px; }
/*.m-top30 { margin-top: 30px; }*/

.header-block {
    box-shadow: 0 0 4px #ccc;
}
.header-link {
    padding: 19px 0 18px;
    float: left;
}
.header-list li {
    display: inline-block;
}
.header-list {
    margin-bottom: 0px;
}
.header-list li a {
    padding: 22px 12px 21px;
    font-size: 16px;
    color: #333;
    float: left;
    font: 15px "Open Sans", sans-serif;
    border-bottom: 1px solid #fff
}
.header-list li a:hover {
    color: #e02222;
    text-decoration: none;
    background: #fcfcfc;
    border-bottom: 1px solid #e02222
}
.header-list li a.active {
    color: #e02222;
    text-decoration: none;
    background: #fcfcfc;
    border-bottom: 1px solid #e02222
}
.banner {
    background: url('../Images/index-bg1.jpg') no-repeat;
    padding: 100px 0;
}
.container-banner {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15px;
}
.container-banner h2 {
    text-transform: uppercase;
    font-size: 45px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    margin-top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.container-banner h2 span {
    color: #e6400c;
}
.container-banner p {
    color: #fff;
    padding: 10px;
    font-size: 16px
}
.validation-summary-errors ul {
    background: #ffada7;
    color: #9d190e;
    list-style-type: none;
    padding: 15px;
    border: 1px solid #e7746b;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin: 25px 0;
}
.field-validation-error span {
    background: #ffada7;
    color: #9d190e;
    padding: 10px;
    border: 1px solid #e7746b;
    -ms-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.blog-view {
    
}

.blog-view .title {
    width: 100%;
    color: #fff;
    font-size: 27px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0 0 10px;
    float: left;
}

.blog-view .calendar, .blog-view .type-claim {
    color: #fff;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
}

.blog-view .calendar i, .blog-view .type-claim i { color: #E84D1C }

.blog-view .text {
    text-align: justify;
    color: #3e4d5c;
    direction: ltr;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    float: left;
    width: 85%;
}

.blog-view .text img { display: none; }

.blog-view .photo-prof {
    float: left;
    width: 10%;
    margin-right: 10px;
}

.blog-view .photo-prof img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    -ms-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
}

.blog-view .blog-post-sep {
    margin: 40px 0;
    border-top: 1px solid #eee;
    border-bottom: 0;
}

.drop-downlist {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.drop-downlist:focus {
    outline: none;
    box-shadow: 0 0 4px #ccc;
}

.text-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.text-box:focus {
    outline: none;
    box-shadow: 0 0 4px #ccc;
}

.photo-prof img {
    height: 200px;
    margin-bottom: 20px;
}

.photo-prof.linear {
    display: inline;
    margin-right: 5px;
}

.photo-prof .delete-photo-prof {
    position: absolute;
    margin-left: -45px;
    margin-top: 5px;
}

.photo-prof .delete-doc-prof {
    position: absolute;
    margin-left: 5px;
    margin-top: -8px;
}

.video-prof .delete-photo-prof {
    position: absolute;
    margin-left: 512px;
    margin-top: -320px;
}

.pager { margin-bottom: 30px; }

.pager span {
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 2px;
    border-radius: 4px;
    color: #373737;
    cursor: pointer;
}

.pager span.current, .pager span.disabled { color: #ccc; }

/* Snipper loading block */
    .blockUI.blockMsg.blockPage { background: none !important; }
    .snipper-loading-mask {
        -moz-min-width: 170px;
        -ms-border-radius: 6px;
        -ms-box-shadow: 0 0 7px 0px #fff;
        -ms-min-width: 170px;
        -ms-opacity: 0.8;
        -o-min-width: 170px;
        -webkit-box-shadow: 0 0 7px 0px #fff;
        -webkit-min-width: 170px;
        background: url('../Images/loading.gif') no-repeat center bottom #fff;
        border-radius: 6px;
        box-shadow: 0 0 7px 0px #fff;
        margin: 0 auto;
        min-height: 155px;
        min-width: 170px;
        opacity: 0.8;
        padding: 12px;
    }

.dislikes-rows .calendar, .dislikes-rows .type-claim  {
    float: left;
    margin-right: 10px;
    color: #999;
}

.dislikes-rows .calendar i, .dislikes-rows .type-claim i {
    color: #e84d1c;
}
#video-container input {
    margin-bottom: 10px;
}

