﻿@using AntiRating.Helpers
@model AntiRating.Models.ProfileModel
@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_profileLayout.cshtml";
}


@using (Html.BeginForm("Save", "UserData", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="row">

        <div class="col-lg-4">
            @Html.LabelFor(model => model.Login)
            <div class="clearfix"></div>
            @Html.TextBoxFor(m => m.Login, new {@class = "form-control m-bot15"})
            @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(model => model.FirstName)
            <div class="clearfix"></div>
            @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control m-bot15"})
            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(model => model.SecondName)
            <div class="clearfix"></div>
            @Html.TextBoxFor(m => m.SecondName, new {@class = "form-control m-bot15"})
            @Html.ValidationMessageFor(model => model.SecondName, "", new {@class = "text-danger"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(model => model.Email)
            <div class="clearfix"></div>
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control m-bot15"})
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(model => model.EmailVisible)

            @Html.CheckBoxFor(m => m.EmailVisible)

        </div>

        <div class="col-lg-4">
            @if (Model.Photo != null)
            {
                <div class="photo-prof">
                    @Html.ShowImage(Model.Photo.Id.Value)
                </div>
                @Html.TextBoxFor(m => m.Photo.FileBase, new { @type = "file" })
            }
            else
            {
                @Html.TextBoxFor(m => m.Photo.FileBase, new { @type = "file" })
            }

        </div>

        <div class="col-lg-6">
            <input type="submit" value="Сохранить изменения" class="button transition"/>
            <a href="@Url.Action("Index")" class="button transition invert">Назад</a>
        </div>

    </div>   
}

<script>
        $('#user-menu').addClass("active");
    </script>
