﻿@model AntiRating.Models.ChangePasswordProfileModel

@{
    ViewBag.Title = "Смена пароля";
}


<div class="blog-find">
    <div class="cabinet">
@using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { @class = "registrationForm", @novalidate = "novalidate", @onsubmit = "return SaveOnSubmit();", id = "registerForm", autocomplete = "off" }))
{
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-lg-12">
            <div class="position-center">
                <div class="position-center">
                    @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Старый пароль", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="position-center">
                <div class="position-center">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Новый пароль", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="position-center">
                <div class="position-center">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Потвердите новый пароль", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <input type="submit" value="Сохранить" class="button transition" />
            <div class="clearfix m-top15"></div>
            <input type="button" onclick="cancelChangePassword();" value="Отмена" class="button transition invert" />
        </div>
    </div>
}
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#user-menu').addClass("active");
        function SaveOnSubmit() {
        }
        function cancelChangePassword() {
            location.href = '@Url.Action("Index", "UserData")';
        }
    </script>
}