﻿@model AntiRating.Models.LoginModel

@{
    ViewBag.Title = "Вход";
    Layout = "../Shared/_EmptyLayout.cshtml";
}


<div class="head-reg text-right">
    <div class="top">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ViewBag.ReturnUrl, novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            <input type="text" data-val="true" id="Login" name="Login" placeholder="Логин" />
            <input type="password" data-val="true" id="Password" name="Password" placeholder="Пароль" />
            <input type="submit" value="Войти" />
        }
    </div>
    <div class="bottom">
        <input type="checkbox" id="never-out" />
        <label for="never-out">Не выходить из системы</label>
        <a href="#">Забыли пароль?</a>
    </div>
</div>


<section class="register-form">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ViewBag.ReturnUrl, novalidate = "novalidate", id= "loginForm" }))
        {
            <h2 class="text-center c-black">Авторизация</h2>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.Login, new { placeholder = "Логин", @class = "form-control m-bot15" })
                            @Html.ValidationMessageFor(m => m.Login, "")
                </div>
                <div class="col-lg-12">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Пароль", @class = "form-control m-bot15" })
                            @Html.ValidationMessageFor(m => m.Password, "")
                </div>
                <div class="col-lg-12 text-center">
                    <input type="submit" value="Войти" class="btn btn-success"/> или 
                    <a href="@Url.Action("Register", new {ViewBag.ReturnUrl})" class="btn btn-default">Зарегистрироваться  </a>
                </div>                
            </div>
        }
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#user-menu').addClass("active");
    </script>
}