﻿@model AntiRating.Models.RegisterProfileModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "../Shared/_EmptyLayout.cshtml";
}

<div class="head-reg text-right">
    <div class="top">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ViewBag.ReturnUrl, novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            <input type="text" data-val="true" id="Login" name="Login" placeholder="Логин" />
            <input type="password" data-val="true" id="Password" name="Password" placeholder="Пароль" />
            <input type="submit" value="Войти" />
        }
    </div>
    <div class="bottom">
        <input type="checkbox" id="never-out"/>
        <label for="never-out">Не выходить из системы</label>
        <a href="#">Забыли пароль?</a>
    </div>
</div>

<section class="register-form">
    @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @novalidate = "novalidate", @onsubmit = "return SaveOnSubmit();", id = "registerForm", autocomplete = "off" }))
            {

        <h2 class="text-center c-black">Регистрация</h2>

        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    @Html.TextBoxFor(m => m.Login, new { placeholder = "Логин", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Электронная почта", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Пароль", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Потвердите пароль", @class = "form-control m-bot15" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <input type="submit" value="Регистрация" class="btn btn-success" />
            </div>
        </div>
    }
</section>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#user-menu').addClass("active");
    </script>
}