﻿@model AntiRating.Models.RegisterProfileModel

@{
    ViewBag.Title = "Спасибо. Ваша регистрация завершена";
}
<div class="mini-helper bg-gray">
    <div class="wrapper">
        <p class="s-23 font-google text-center uppercase line-height-normal">@ViewBag.Title.</p>
        <section id="loginForm" class="login-form">
            <div class="card signin-card">
                @*<img class="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">*@
                <div class="clearfix"></div>
                @{
                    var action =  Url.Action("Index", "UserData");
                }
                <a href="@action" class="login_submith rc-button rc-button-submit fw300 button color invert normal">Продолжить работу <span id="time" style="color: #fff">10</span></a>
                <br />
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#layout-tab5").addClass("active");

        window.onload = function() {
            var redirect = false;
            var fiveMinutes = 9,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display, function() {
                if (!redirect) {
                    redirect = true;
                    location.href = '@action';
                }
            });
        };

    </script>
}