﻿@using AntiRating.Helpers
@model AntiRating.Models.NewClaimModel

@{
    Layout = null;
}

<div class="col-lg-12 m-bot15">
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(model => model.ObjectType)
            <div class="clearfix"></div>
            @Html.FromEnumDropDownListFor(m => m.ObjectType, new { @class = "drop-downlist" })
            @Html.ValidationMessageFor(model => model.ObjectType, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(model => model.DislikeCategory)
            <div class="clearfix"></div>
            @Html.FromEnumDropDownListFor(m => m.DislikeCategory, new { @class = "drop-downlist" })
            @Html.ValidationMessageFor(model => model.DislikeCategory, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-4">
            @Model.Region
            @Html.LabelFor(model => model.Name)
            <div class="clearfix"></div>
            @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="col-lg-12 m-bot15">
    @Html.LabelFor(model => model.ObjectPhoto )
    <div class="clearfix"></div>
    @if (Model.ObjectPhoto!= null && Model.ObjectPhoto.Id.HasValue)
    {
        <div class="photo-prof">
            @Html.ShowImage(Model.ObjectPhoto.Id.Value)
        </div>
                @Html.TextBoxFor(m => m.ObjectPhoto.FileBase, new { @type = "file" })
    }
    else
    {
        @Html.TextBoxFor(m => m.ObjectPhoto.FileBase, new { @type = "file" })
    }
    @Html.ValidationMessageFor(model => model.ObjectPhoto, "", new { @class = "text-danger" })
</div>

<div class="col-lg-12">
    @Html.LabelFor(model => model.Text)
    <div class="clearfix"></div>
    @Html.TextAreaFor(m => m.Text)
    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
</div>