﻿@using AntiRating.Helpers
@model AntiRating.Models.NewClaimModel

@{
    ViewBag.Title = "Создать объявление";
}
<h2 style="color: #373737">@ViewBag.Title</h2>
<div class="blog-find-2">
    <div class="row">

        <div class="col-lg-12">
            @using (Html.BeginForm("Create", "Claim", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.ProfileId)
                @Html.AntiForgeryToken()


                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Страна</label>
                            <div class="clearfix"></div>
                            <select id="countries-list"></select>
                        </div>
                        <div class="col-lg-4">
                            <label>Штат/область/регион</label>
                            <div class="clearfix"></div>
                            <select id="states-list"></select>
                        </div>
                        <div class="col-lg-4">
                            <label>Населенный пункт</label>
                            <div class="clearfix"></div>
                            <select id="CityId" name="CityId"></select>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div><br />

                @Html.Partial("_claimFileds")

                <div class="clearfix"></div><br />

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Добавить видеоматериал к жалобе" id="btnAddVideo"/>
                    <div class="clearfix"></div><br/>
                    <div id="video-container" class="form-group"></div>
                </div>

                <div class="clearfix"></div><br />

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Добавить фото к жалобе" id="btnAddPhoto"/>
                    <div class="clearfix"></div><br/>
                    <div id="photo-container" class="form-group"></div>
                </div>

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Приложить документ к жалобе" id="btnAddDoc" />
                    <div class="clearfix"></div><br />
                    <div id="doc-container" class="form-group"></div>
                </div>

                <div class="col-lg-12">
                    <input type="submit" value="Создать тему" class="button transition" />
                    <a href="@Url.Action("Index")" class="button transition invert">Назад</a>
                </div>
            }
        </div>
    </div>
</div>

<div class="clearfix"></div><br /><br />

@section Scripts {    
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script>
        $('#my-claim').addClass("active");

        var fileCount = 0;
        var videoCount = 0;
        var docCount = 0;
        $(document).ready(function () {
            CKEDITOR.replace('Text');

            $('#btnAddVideo').on('click', function (e) {
                var blockId = 'VideoReferences[' + videoCount + ']';
                var videoTemplate = '<input type="text" name="' + blockId + '"/><br/>';
                $('#video-container').append(videoTemplate);
                videoCount = videoCount + 1;
            });

            $('#btnAddPhoto').on('click', function (e) {
                var blockId = 'Photos[' + fileCount + '].FileBase';
                var photoTemplate = '<input type="file"  accept=".jpeg,.jpg,.png,.bmp" name="' + blockId + '"/><br/>';
                $('#photo-container').append(photoTemplate);
                fileCount = fileCount + 1;
            });

            $('#btnAddDoc').on('click', function (e) {
                var blockId = 'Docs[' + docCount + '].FileBase';
                var photoTemplate = '<input type="file"  accept=".doc,.pdf,.txt" name="' + blockId + '"/><br/>';
                $('#doc-container').append(photoTemplate);
                docCount = docCount + 1;
            });
            
            $('#countries-list').on('change', function () {
                $('#states-list').val('-');
                $('#states-list').html('');
                ReloadStates($('#countries-list').val());
                $('#CityId').val('-');
                $('#CityId').html('');
                $('#states-list').select2();
                $('#CityId').select2();
            });
            
            $('#states-list').on('change', function () {
                $('#CityId').val('-');
                $('#CityId').html('');
                ReloadCities($('#states-list').val());
                $('#CityId').select2();
            });            

            $('#countries-list').select2();
            $('#states-list').select2();
            $('#CityId').select2();

            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetCountries", "Reference")', null, function(res) {               
                $('#countries-list').append('<option selected value="-">-</option>');
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#countries-list').append(item);
                }
            }, function() {
                alert('Что то пошло не так! сайт временно не доступен попробуйте позднее!');
            }, true);

        });
        
        function ReloadStates(countryId) {
            $('#states-list').append('<option selected value="-">-</option>');
            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetStates", "Reference")', { countryId: countryId }, function (res) {
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#states-list').append(item);
                }
            }, function () {
                alert('Что то пошло не так! сайт временно не доступен, попробуйте позднее!');
            }, true);
        }


        function ReloadCities(stateId) {
            $('#CityId').append('<option selected value="-">-</option>');
            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetCities", "Reference")', { stateId: stateId }, function (res) {
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#CityId').append(item);
                }
            }, function () {
                alert('Что то пошло не так! сайт временно не доступен, попробуйте позднее!');
            }, true);
        }

    </script>
}