﻿@using AntiRating.Helpers
@model AntiRating.Models.NewClaimModel

@{
    ViewBag.Title = "Мои жалобы";
}
<h2 style="color: #373737">@ViewBag.Title</h2>
<div class="blog-find-2">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Edit", "Claim", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m=>m.Id)
                @Html.HiddenFor(m => m.ProfileId)
                @Html.HiddenFor(m => m.CityId)
                @Html.AntiForgeryToken()

                @Html.Partial("_claimFileds")

                <div class="clearfix"></div><br/>

                <div class="col-lg-12">
                    @if (Model.VideoReferenceModel.Any())
                    {
                        foreach (var videoReference in Model.VideoReferenceModel)
                        {                            
                            var videiId = Guid.NewGuid();                            
                            <div class="video-prof m-bot15 linear">
                                <video id="@videiId" width="565" height="360" preload="none">
                                    <source type="video/youtube" src="@videoReference.Url"/>
                                </video>
                                <a href="@Url.Action("DeleteVideoFromClaim", "Claim", new RouteValueDictionary {{"videoId", videoReference.Id}, {"claimId", Model.Id}})" class="delete-photo-prof button transition invert"><i class="fa fa-close"></i></a>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var players = new MediaElementPlayer('#@videiId');
                                });
                            </script>
                        }
                        <hr/>
                    }
                </div>

                <div class="clearfix"></div><br />

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Добавить видеоматериал к жалобе" id="btnAddVideo"/>
                    <div class="clearfix"></div><br/>
                    <div id="video-container" class="form-group"></div>
                </div>

                <div class="clearfix"></div><br />

                <div class="col-lg-12">
                    @if (Model.Photos.Any())
                    {
                        foreach (var foto in Model.Photos)
                        {
                            <div class="photo-prof m-bot15 linear">
                                @Html.ShowImage(foto.Id.Value)
                                <a href="@Url.Action("DeleteFileFromClaim", "Claim", new RouteValueDictionary {{"photoId", foto.Id}, {"claimId", Model.Id} })" class="delete-photo-prof button transition invert"><i class="fa fa-close"></i></a>
                            </div>
                        }
                        <hr />
                    }
                </div>                

                <div class="clearfix"></div><br />

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Добавить фото к жалобе" id="btnAddPhoto" />
                    <div class="clearfix"></div><br />
                    <div id="photo-container" class="form-group"></div>
                </div>

                <div class="col-lg-12">
                    @if (Model.Docs.Any())
                    {
                        foreach (var doc in Model.Docs)
                        {
                            <div class="photo-prof m-bot15 linear">
                                @Html.ActionLink(doc.Name, "GetDocument", new { docId = doc.Id })
                                <a href="@Url.Action("DeleteDocumentFromClaim", "Claim", new RouteValueDictionary {{"docId", doc.Id}, {"claimId", Model.Id}})" class="delete-doc-prof button transition invert"><i class="fa fa-close"></i></a>
                                <br/>
                                <br />
                            </div>
                        }
                        <hr />
                    }
                </div>

                <div class="col-lg-12 m-bot15">
                    <input type="button" value="Приложить документ к жалобе" id="btnAddDoc" />
                    <div class="clearfix"></div><br />
                    <div id="doc-container" class="form-group"></div>
                </div>

                <div class="col-lg-12 m-bot15">
                    <input type="submit" value="Сохранить изменения" class="button transition"/>
                    <a href="@Url.Action("Index")" class="button transition invert">Назад</a>
                </div>



            }
        </div>
    </div>
</div>



<div class="clearfix"></div><br /><br />

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script>
        $('#my-claim').addClass("active");

        var fileCount = 0;
        var videoCount = 0;
        var docCount = 0;
        $(document).ready(function() {
            CKEDITOR.replace('Text');
           

            $('#btnAddVideo').on('click', function (e) {
                var blockId = 'VideoReferences[' + videoCount + ']';
                var videoTemplate = '<input type="text" name="' + blockId + '"/><br/>';
                $('#video-container').append(videoTemplate);
                videoCount = videoCount + 1;
            });
            

            $('#btnAddPhoto').on('click', function(e) {
                var blockId2 = 'Photos[' + fileCount + '].FileBase';
                var photoTemplate = '<input type="file"   accept=".jpeg,.jpg,.png,.bmp" name="' + blockId2 + '"/><br/>';
                $('#photo-container').append(photoTemplate);
                fileCount = fileCount + 1;
            });

            
            $('#btnAddDoc').on('click', function (e) {
                var blockId1 = 'Docs[' + docCount + '].FileBase';
                var docTemplate = '<input type="file"  accept=".doc,.pdf,.txt" name="' + blockId1 + '"/><br/>';
                $('#doc-container').append(docTemplate);
                docCount = docCount + 1;
            });
        });
    </script>
}