﻿@using AntiRating.Helpers
@using AntiRating.Models
@using MvcPager
@model IPagedList<NewClaimModel>

@{
    Layout = "~/Views/Shared/_profileLayout.cshtml";
    var profileInfo = (ProfileModel)ViewBag.ProfileInfo;
}

<div class="prof-fl">
    <h4>Профиль</h4>
    <p>
        Логин: <strong>@profileInfo.Login</strong>
    </p>
    <p>
        Имя: <strong>@profileInfo.FirstName</strong>
    </p>
    <p>
        Фамилия: <strong>@profileInfo.SecondName</strong>
    </p>
    <p>
        e-mail: <strong>@profileInfo.Email</strong>
    </p>
    <p>
        почтовый ящик показывать: @Html.CheckBox("EmailVisible", profileInfo.EmailVisible, new { @disabled = "disabled" })
    </p>
    <div class="img-ctr">
        <img src="../../Images/105516_1000.png" />
    </div>
</div>


@if (profileInfo.BonusDislikeCount >= 50)
{
    <div class="prof-fl">
        <h4>Бонусы профиля</h4>
        @if (profileInfo.BonusDislikeCount < 100)
        {
            <div class="img-dzl">
                <img src="../../Images/50 медь.png"/>
                <p>50 дизлайков</p>
            </div>
        }
        @if (profileInfo.BonusDislikeCount >= 100 && profileInfo.BonusDislikeCount < 1000)
        {
            <div class="img-dzl">
                <img src="../../Images/100 mon.png"/>
                <p>100 дизлайков</p>
            </div>
        }
        @if (profileInfo.BonusDislikeCount >= 1000 && profileInfo.BonusDislikeCount < 5000)
        {
            <div class="img-dzl">
                <img src="../../Images/1000 mon.png"/>
                <p>1000 дизлайков</p>
            </div>
        }       
        <div class="adv-gfl">
            реклама
        </div>


    </div>
}
else
{
    <div class="prof-fl">
        <h4>Получите бонусы профиля</h4>
        
            <div class="img-dzl">
                <img src="../../Images/50 медь.png" />
                <p>50 дизлайков</p>
            </div>
        
            <div class="img-dzl">
                <img src="../../Images/100 mon.png" />
                <p>100 дизлайков</p>
            </div>
        
            <div class="img-dzl">
                <img src="../../Images/1000 mon.png" />
                <p>1000 дизлайков</p>
            </div>                   
@*

        <div class="adv-gfl">
            реклама
        </div>
*@


    </div>
}

<div class="themees">
    <div>
        @if (Model.Any())
        {
            <ul>
                @foreach (var claim in Model)
                {
                    <li class="herota">
                        <div class="immmg">
                            @if (claim.ObjectPhoto != null && claim.ObjectPhoto.Id.HasValue)
                            {
                                @Html.ShowImage(claim.ObjectPhoto.Id.Value)
                            }
                            else
                            {
                                <img src="~/Images/nophoto_03.gif"/>
                            }
                            <div class="level"><i class="fa fa-user-secret"></i> @claim.ObjectType.Description()</div>
                            <div class="edit"><a href="@Url.Action("Edit", "Claim", new {id = claim.Id})">Редактировать</a></div>
                        </div>
                        <div class="top">
                            <div class="name-b">@claim.Name</div>
                            <div class="country"><i class="fa fa-calendar"></i> @claim.CreationDate.Value.ToString("f")</div>
                            <div class="prvws"><strong>Просмотров:</strong> @claim.ViewCount</div>
                        </div>

                        <div class="centr">
                            @Html.Raw(claim.Text)
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>У вас пока нет ни одного объявления.</p>
        }
    </div>

    <div class="pager m-top30">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, Url.Action("Index", "Claim", new RouteValueDictionary { { "pageIndex", Model.PageNumber } }))
    </div>
</div>