﻿@model AntiRating.Models.ClaimModel
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions {
    private int i = 1;
} 

<h2>Read</h2>


@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ProfileId)
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Просмотр жалобы</h4>
    <hr />

    @Model.Name
    @if ( Model.ObjectPhoto != null)
    {
        var base64 = Convert.ToBase64String(Model.ObjectPhoto.Content);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" height="200" />
    }

    @foreach (var dislikeModel in Model.Dislikes)
    {
        <div>
            @dislikeModel.CreationDate.ToString("YYYY-MM-DD hh-mm")
        </div>
        var str = "текст дизлайка" + @i;
        <div>@str @dislikeModel.Text</div>
        @Html.ActionLink("Посмотреть", "Read", "Dislike", new { id = @dislikeModel.Id }, null);
        i = i + 1;
        <br />
    }
</div>