﻿<ul class="add-advert-list">
    <li><a href="#">Реклама</a></li>
    <li><a href="#">Разместить рекламу</a></li>
</ul>

<div class="about-us m-top15">
    <span>Наш сайт - это Вклад и помощь для защиты граждан от плохих людей и огранизаций.</span>
</div>