﻿<div class="banner">
    <div class="position-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="container-banner">
                    <h2>Вам необходимо<span> войти в систему!</span></h2>
                    <p>Как стало известно критики сетуют, что «Отряд самоубийц» получился попросту бестолковым, и пророчат ему провал в прокате. Издания Variety, The Playlist и EW сравнили новую картину с фильмом «Бэтмен против Супермена: На заре справедливости», которая получила всего 4,4 балла от 50 экспертов из 10 возможных по версии Metacritic.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
