﻿@using AntiRating.Helpers
@model List<int>

@{
    Layout = null;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <ul style="padding: 0 10px;">
                @foreach (var f in Model)
                {
                    <li class="list-item">
                        <div class="img-c">
                            @Html.ShowImage(f)
                        </div>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>

