﻿<div id="disklimer" class="hide">
    <div class="header">Дисклеймер</div>
    <p>Портал не несет ответственности за содержание авторских материалов и не предоставляет гарантий в связи с публикацией фактов, данных, результатов и другой информации.</p>
    <p>
        Данный проект является продуктом свободы слова и не подвержен влиянию третьих лиц (запугивание, шантаж и т.д.).
        Сайт гарантирует владельцам профилей что их права будут отстаиваться, несмотря на давление извне.
        Беспрепятственно удалить дизлайк может только его автор, указавший e-mail при заполнении.
        Мы никому не предоставляем информацию о профилях посетителей нашего сайта (почту, Mac и IP адрес, другую информацию).
        Мы доверяем всем авторам, оставившим у нас свои отзывы. Если вы с чем-то не согласны, то можете
        опровергнуть дизлайк, добавив комментарий к нему.
        Администрация портала не несет никакой ответственности за размещенные на нем дизлайки, однако всегда готова к
        рассмотрению неадекватных публикаций.
        Можно использовать информацию с портала в своих целях. Обязательное условие – наличие ссылки на источник
        информации следующего вида: в интернете (гиперссылка) (ссылка должна быть прямой, использование редиректов запрещено),
        в печатных изданиях – "По материалам портала obereg.com
    </p>
    <p>
        Мы приветствуем всех неравнодушных! Кто бы вы не были - всем посетителям всегда здесь будут рады.
        Мы собираем дизлайки и отзывы о негативных людях в вашей жизни и предупреждаем других о ваших ошибках.
        Поделись своим бесценным опытом , помоги другим сохранить справедливость.
        Расскажите о нашем проекте своим родственникам, друзьям и знакомым.
    </p>
    <p class="text-center">
        <button id="okay-disklimer" class="btn btn-success">Согласен, вхожу</button>
        <button id="fuckyou-disklimer" class="btn btn-success">Не согласен, покидаю</button>
    </p>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        var disklimer = $.cookie("disklimer");
        if (disklimer == null) {
            $("#disklimer").removeClass("hide");
        }

        $("#okay-disklimer").click(function() {
            $("#disklimer").addClass("hide");
            $.cookie("disklimer", "OK", { expires: 7, path: "/" });
        });

        $("#fuckyou-disklimer").click(function() {
            window.close();
        });
    });
</script>