﻿@using AntiRating.Helpers
@model List<AntiRating.Models.DislikeModel>

@if (ViewBag.LastAny4Disliked != null)
{
    <h4>Свежие дизлайки</h4>
}
else
{
    <h4>Ваши дизлайки</h4>
}

@foreach (var dislike in Model.Take(4))
{
    var anchor = "#dislike_" + dislike.Id;
    <div class="item m-bot10 mainPage-dislike-item">
        <p class="name">@dislike.ClaimName</p>
        
    <div class="photo-block">
        <a href="@Url.Action("Add", "Dislike", new { claimId = dislike.ClaimId })@anchor" class="mainPage-dis-imglink">
            @if (dislike.ClaimPhotoId.HasValue)
                {
                @Html.ShowImage(dislike.ClaimPhotoId.Value)
            }
            else
            {
                <img src="/Images/nophoto_03.gif">
            }
        </a>

    </div>
        <div class="list-data">
            @if (dislike.VideoRefCount.HasValue && dislike.VideoRefCount > 0)
            {
                <a href="javascript:void(0);" data-id="avi" onclick="LoadDislikeVideos(@dislike.Id);">
                    <img src="~/Images/it_07.gif" />
                    <span>Видео</span>
                </a>
            }
            @if (dislike.PhotosCount.HasValue && dislike.PhotosCount > 0)
            {
                <a href="javascript:void(0);" data-id="pic" onclick="LoadDislikePhotos(@dislike.Id);">
                    <img src="~/Images/it_12.gif" />
                    <span>Фото</span>
                </a>
            }
            @if (dislike.DocsCount > 0)
            {
                <a href="javascript:void(0);" data-id="doc" onclick="LoadDislikeDocs(@dislike.Id);">
                    <img src="~/Images/it_10.gif" />
                    <span>Документы</span>
                </a>
            }
        </div>
        <div class="count-dislike">
            @(dislike.DislikeCounts ?? 1)
           <!-- <div class="clearfix"></div> -->
            <img src="/Images/dislike_03.gif">
            <div class="type-org">@dislike.Category.Description()</div>
        </div>
        
        
        <div class="clearfix"></div>
        <hr class="dotted-hr">
</div>
}

@if (ViewBag.Last4Disliked == null)
{
    <div class="text-center">
        <a href="@Url.Action("ViewAll","Dislike")" class="button transition invert">Посмотреть все</a>
    </div>
    <br />
}
<style type="text/css">.main-dislike-item { }</style>

<script>
    function LoadDislikePhotos(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Фотоматериал дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function () {            
            AjaxHelper.loadHtml('@Url.Action("GetPhotosOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }

    function LoadDislikeDocs(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Документы дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function () {
            AjaxHelper.loadHtml('@Url.Action("GetDocsOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }

    function LoadDislikeVideos(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Видеоматериал дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function () {            
            AjaxHelper.loadHtml('@Url.Action("GetVidoesOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }   
</script>