﻿@{
    Layout = null;
}
@model List<string>

@foreach (var video in Model)
{
    var vidoeId = Guid.NewGuid();
    <div class="video-prof m-bot15 linear">
        <video id="@vidoeId" width="565" height="360" preload="none" class="media-player">
            <source type="video/youtube" src="@video"/>
        </video>
        <script>
            $(document).ready(function () {
                var players = new MediaElementPlayer('#@vidoeId');
            });
        </script>
    </div>

    <div class="clearfix"></div>

}
