﻿
@{
    Layout = "_commonLayout.cshtml";
}
@Html.Partial("_disklimer")

<div class="wrapper">
    <ul class="top-header-menu flex-container">
        <li>@Html.ActionLink("Неприязнь", "TopDistaste", "Home")</li>
        <li>@Html.ActionLink("Неприязнь", "TopDistaste", "Home")</li>
        <li>@Html.ActionLink("Воры", "TopThief", "Home")</li>
        <li>@Html.ActionLink("Обманщики", "TopDeceivers", "Home")</li>
        <li>@Html.ActionLink("Мошенники", "TopFraudster", "Home")</li>
        <li>@Html.ActionLink("Взяточники", "TopBribetaker", "Home")</li>
        <li>@Html.ActionLink("Алименты", "TopAlimony", "Home")</li>
        <li>@Html.ActionLink("Измена", "TopInfidelity", "Home")</li>
        <li>@Html.ActionLink("Клевета", "TopSlander", "Home")</li>
        <li>@Html.ActionLink("Брачные аферисты", "TopMarriageSwindler", "Home")</li>
       <li>@Html.ActionLink("Недобросовестные работодатели", "TopUnscrupulousEmployers", "Home")</li>
        <li>@Html.ActionLink("Недобросовестные работники", "TopUnscrupulousEmployees", "Home")</li>
        <li>@Html.ActionLink("Топы", "Index", "Home")</li>
        @*<li>@Html.ActionLink("Недобросовестные работники", "TopUnscrupulousEmployees", "Home")</li>*@        
    </ul>
    <div class="content-main-wrapper clearfix">
        <div class="left-menu-account">
            @Html.Partial("_loginPartial")
            <div class="m-top15 advert-block">
                @Html.Partial("_advertBlock")
            </div>
        </div>
       
            @RenderBody()
        
        @RenderSection("scripts", required: false)
        <!--<div class="clearfix"></div>-->
    </div>
     <div class="footer">
        <p>Организаторы сайта не принимают на себя никаких гарантийных обязательств в отношении публикаций пользователей и не несут ответственности за любой прямой или косвенный ущерб и упущенную выгоду, даже если это стало результатом использования или невозможности использования сайтом.</p>
        <p class="text-center">&copy; @DateTime.Now.Year - My site</p>
    </div>
</div>
