﻿
@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Index", "Claim")" id="user-menu" class="left-menu-acc-link button-in h-color">Профиль</a>
    <a href="@Url.Action("LogOff", "Account")" class="left-menu-acc-link button-reg">Выход</a>
    <div class="clearfix m-bot15"></div>
}
else
{
    <a onclick="leftMenuSwitcher('loginForm')" id="button-in" class="button-in h-color">Войти</a>
    <a onclick="leftMenuSwitcher('registerForm')" id="button-reg" class="button-reg">Зарегестрироваться</a>
    <div class="clearfix"></div>
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", ViewBag.ReturnUrl, novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <input class="form-control m-bot15" data-val="true" id="Login" name="Login" placeholder="Логин" type="text">
        <input class="form-control m-bot15" data-val="true" id="Password" name="Password" placeholder="Пароль" type="password">
        <div class="clearfix"></div>
        <input type="checkbox" class="" id="rememberMe" />
        <label for="rememberMe">запомнить</label>
        <a href="#" class="i_miss_password">забыли пароль?</a>
        <div class="clearfix"></div>
        <button type="submit" class="button transition go-loginform">ВОЙТИ</button>
    }

    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm", ViewBag.ReturnUrl, novalidate = "novalidate", style = "display: none" }))
    {
        @Html.AntiForgeryToken()
        <input class="form-control m-bot15" data-val="true" id="Login" name="Login" placeholder="Логин" type="text">
        <input class="form-control m-bot15" data-val="true" id="Email" name="Email" placeholder="Email" type="text">
        <input class="form-control m-bot15" data-val="true" id="Password" name="Password" placeholder="Пароль" type="password">
        <input class="form-control m-bot15" data-val="true" id="ConfirmPassword" name="ConfirmPassword" placeholder="Подтвердите пароль" type="password">
        <div class="clearfix"></div>
        <button type="submit" class="button transition go-loginform">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
    }
}

<script>
    function leftMenuSwitcher(type) {
        if (type === "registerForm") {
            $('form[id="loginForm"]').attr('style', 'display: none;');
            $('form[id="registerForm"]').attr('style', 'display: block;');
            $('#button-in').removeClass("h-color");
            $('#button-reg').addClass("h-color");
        } else {
            $('form[id="registerForm"]').attr('style', 'display: none;');
            $('form[id="loginForm"]').attr('style', 'display: block;');
            $('#button-in').addClass("h-color");
            $('#button-reg').removeClass("h-color");
        }
    }
</script>