﻿
<div class="banner">
    <div class="position-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="container-banner">
                    <h2>Вас кто то обидел?<span> - Создай тему пусть другие знают!</span></h2>
                    <p>Расскажи о своем обидчике всем, может не тебя одного обидел этот не хороший человек</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

