﻿@using AntiRating.Domain
@using AntiRating.Helpers

<div class="search-block clearfix">
    @using (Html.BeginForm("Serarch", "Home"))
    {         
        <div class="col-lg-12 homePage-search-col">
            <div class="row homePage-search-row">
                @if (ViewBag.DislikeCategory != null)
                {
                    @Html.Hidden("DislikeCategory", ((DislikeCategory) ViewBag.DislikeCategory).ToString())
                }
                else
                {
                    <div class="col-lg-8 m-bot15 m-top30 homePage-search-reason">
                        <label for="DislikeCategory">Причина</label>
                        <div class="clearfix"></div>
                        @Html.FromEnumDropDownList(typeof(DislikeCategory), "DislikeCategory")
                    </div>
                }
                <div class="col-lg-8 m-bot15 m-top30 homePage-search-nameBad">
                    <div class="clearfix"></div>
                    <label for="">&nbsp;</label>
                    <input id="filterName" name="filterName" type="text" class="form-control" placeholder="Имя нехорошего человека" />
                </div>
                <!--image Sense
                <div class="col-lg-4 m-bot15">
                    <img src="../../Images/105516_1000.png" style="width: 100%; height: 70px; margin-top: 5px;"/>
                </div>
                -->
                <div class="col-lg-4 m-bot15 homePage-search-state-sel">
                    <label for="filterCountry">Страна</label>
                    <div class="clearfix"></div>
                    <select id="filterCountry" name="filterCountry"></select>
                </div>
                <div class="col-lg-4 m-bot15 homePage-search-state-sel">
                    <label for="filterState">Штат/область/регион</label>
                    <div class="clearfix"></div>
                    <select id="filterState" name="filterState" placeholder="-- Все --"></select>
                </div>
                <div class="col-lg-4 m-bot15 homePage-search-state-sel">
                    <label for="filterCity">Населенный пункт</label>
                    <div class="clearfix"></div>
                    <select id="filterCity" name="filterCity"></select>
                </div>

                <div class="col-lg-12 m-bot15 homePage-search-submit">
                    <input type="submit" value="Найти" class="button transition"/>
                </div>
        </div>
        </div>
    }
</div>
<script>
        $(document).ready(function() {
            $('#filterCountry').on('change', function() {
                $('#filterState').val('-');
                $('#filterState').html('');
                ReloadStates($('#filterCountry').val());
                $('#filterCity').val('-');
                $('#filterCity').html('');
                $('#filterState').select2();
                $('#filterCity').select2();
            });

            $('#filterState').on('change', function() {
                $('#filterCity').val('-');
                $('#filterCity').html('');
                ReloadCities($('#filterState').val());
                $('#filterCity').select2();
            });

            $('#filterCountry').select2();
            $('#filterState').select2();
            $('#filterCity').select2();

            if ($('#DislikeCategory') && $('#DislikeCategory').length > 0)
                $('#DislikeCategory').select2();

            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetCountries", "Reference")', null, function(res) {
                $('#filterCountry').append('<option selected value="-">-</option>');
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#filterCountry').append(item);
                }
            }, function() {
                alert('Что то пошло не так! сайт временно не доступен попробуйте позднее!');
            }, true);

        });

        function ReloadStates(countryId) {
            $('#filterState').append('<option selected value="-">-</option>');
            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetStates", "Reference")', { countryId: countryId }, function(res) {
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#filterState').append(item);
                }
            }, function() {
                alert('Что то пошло не так! сайт временно не доступен попробуйте позднее!');
            }, true);
        }


        function ReloadCities(stateId) {
            $('#filterCity').append('<option selected value="-">-</option>');
            AjaxHelper.ajaxRequestJsonData('@Url.Action("GetCities", "Reference")', { stateId: stateId }, function(res) {
                for (var index = 0; index < res.length; index++) {
                    var item = '<option value="' + res[index].Id + '">' + res[index].Info + '</option>';
                    $('#filterCity').append(item);
                }
            }, function() {
                alert('Что то пошло не так! сайт временно не доступен попробуйте позднее!');
            }, true);
        }
</script>
