﻿@{
    Layout = "_commonLayout.cshtml";
}

<div class="head-reg text-right">
    <ul class="calaim_ul">
        <li>@Html.ActionLink("Добавить объявление", "Create", "Claim")</li>
        <li>@Html.ActionLink("Рейтинги", "Index", "Home")</li>
        <li>@Html.ActionLink("Настройки профиля", "Index", "UserData")</li>
        <li>@Html.ActionLink("Выход", "LogOff", "Account")</li>
    </ul>
</div>


<div class="wrapper">
    <div class="gr-bl">
        <a href="@Url.Action("Index", "Claim")">Профиль</a>
        <a href="@Url.Action("Index", "UserData")">Редактировать профиль</a>
        <a href="@Url.Action("ChangePassword", "Account")">Сменить пароль</a>
        <a href="@Url.Action("Create", "Claim")">Добавить объявление</a>  
    </div>    
    @RenderBody()
   
</div>
