﻿
@{
    ViewBag.Title = "Системное сообщение";
}

<div class="wapper">
    <div class="mainnavigation">
        <i class="icon-users ic2 fl-l"></i>
        <span class="categories">@ViewBag.Title</span>
    </div>
    <div class="clearfix"></div>
    <div class="group-index-menu fs20">
        <p>Вы можете производить операции только со своими объектами.</p>
        <div class="clearfix"></div>
    </div>
</div>

