﻿@using AntiRating.Helpers
@using AntiRating.Models
@model NewDislikeModel
@{
    Layout = null;
}

<div class="row">
    @*<div class="col-lg-6">
        @Html.LabelFor(model => model.DislikeType)
        <div class="clearfix"></div>
        @Html.FromEnumDropDownListFor(m => m.DislikeType, new { @class = "drop-downlist" })
        @Html.ValidationMessageFor(model => model.DislikeType, "", new { @class = "text-danger" })
    </div>*@

    <div class="col-lg-6">
        @Html.LabelFor(model => model.Category)
        <div class="clearfix"></div>
        @Html.FromEnumDropDownListFor(m => m.Category, new { @class = "drop-downlist", style = "color: #000;" })
        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row m-top15 m-bot15">
    <div class="col-lg-12">
        @Html.LabelFor(model => model.Text)
        <div class="clearfix"></div>
        @Html.TextAreaFor(m => m.Text)
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
</div>

