﻿@model AntiRating.Models.NewDislikeModel

@functions {
    private int i = 1;
}

@{
    ViewBag.Title = "Добавление поста";
}
<!--Dislike Page Start-->
<div class="position-center m-top15 disPage-center">
    <div class="col-lg-12 m-top30">
        <div class="row">
            <h2 class="disPage-title" style="color: #373737;">@Model.Claim.Name</h2>
        </div>
        <div class="row" style="background: #fff;">
            @if (Model.Claim != null && Model.Claim.ObjectPhoto != null && Model.Claim.ObjectPhoto.Content != null)
            {
                var base64 = Convert.ToBase64String(Model.Claim.ObjectPhoto.Content);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                <div class="disPage-img-wrap">
                    <img class="disPage-img" src="@imgSrc" alt=""/>
                    <div class="disPage-dislike-count">Дизлайков: <span>@Model.Claim.Dislikes.Count</span></div>
                </div>
                <div class="disPage-img-text">
                    lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            }
        </div>
        <!--<div class="row" style="background: white;">
            Дизлайков: @Model.Claim.Dislikes.Count
        </div>-->
    </div>
</div>

<div class="clearfix"></div>

<div class="position-center m-top15 clearfix">
    <div class="col-lg-12" style="padding: 0;">
        @Model.Claim.Region

            @foreach (var dislikeModel in Model.Claim.Dislikes)
            {
                var str = "dislike_" + @dislikeModel.Id;
                <div class="blog-view" style="background: #fff" id=@str>
                    <div class="col-lg-12 m-bot10">
                        
                        <div class="row disPage-edit-view">
                            <a href="#" style="color: #373737;" class="title disPage-title-link">@dislikeModel.Author.Login</a>
                            @if (@dislikeModel.Author.Login == User.Identity.Name)
                            {
                                <a href="@Url.Action("Edit", "Dislike", new {id = @dislikeModel.Id})">Edit</a>
                            }
                            <div style="color: #373737" class="calendar">
                                <i class="fa fa-calendar" style="color: black"></i> @dislikeModel.CreationDate.ToString("f")
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row dislikePage-user-comments">
                        <div class="text">@Html.Raw(dislikeModel.Text) </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="list-data1 clearfix">
                    <div style="height: 17px;" class="dislikePage-listData-in">
                        @if (dislikeModel.VideoRefCount.HasValue && dislikeModel.VideoRefCount > 0)
                        {
                            <a href="javascript:void(0);" onclick="LoadDislikeVideos(@dislikeModel.Id);">
                                Видео
                                <div class="clearfix"></div>
                                <img src="~/Images/it_07.png"/ class="dislikePage-img-icon">
                            </a>
                        }
                        @if (dislikeModel.PhotosCount.HasValue && dislikeModel.PhotosCount > 0)
                        {
                            <a href="javascript:void(0);" onclick="LoadDislikePhotos(@dislikeModel.Id);">
                                Фото
                                <div class="clearfix"></div>
                                <img src="~/Images/it_12.png"/ class="dislikePage-img-icon">
                            </a>
                        }
                        @if (dislikeModel.DocsCount > 0)
                        {
                            <a href="javascript:void(0);" onclick="LoadDislikeDocs(@dislikeModel.Id);">
                                Документы
                                <div class="clearfix"></div>
                                <img src="~/Images/it_10.gif"/>
                            </a>
                        }
                    </div>

                </div>
                <hr class="blog-post-sep">
        }

    </div>
</div>


<!--<div class="clearfix" style="margin-left: -13px;"></div>-->

<div id="addPost" class="text-center">
    <i class="fa fa-arrow-up"></i> <span>ДОБАВИТЬ <br/><br/>ПОСТ</span> <i class="fa fa-arrow-down"></i>
</div>

<div id="openPost" class="hide">
    <div id="hidePost" class="text-center">
        <i class="fa fa-arrow-down"></i> <span>СКРЫТЬ</span> <i class="fa fa-arrow-down"></i>
    </div>

    <h2 class="text-center">Добавить пост</h2>
    @using (Html.BeginForm("Add", "Dislike", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.HiddenFor(m => m.ClaimId)
        @Html.HiddenFor(m => m.ProfileId)
        @Html.AntiForgeryToken()

        @Html.Partial("_dislikeFields")
        <h2 style="color: #373737">Фотоматериал</h2>
        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="Добавить" id="btnAddPhoto" style="background: #a1b0d0; border: none; border-radius: 4px; color: #fff; height: 26px; text-decoration: none !important; width: 100px; margin-bottom: 10px;" />
                <div id="photo-container"></div>
            </div>
        </div>

        <div style="clear: both"></div>

        <h2 style="color: #373737">Ссылки на видеоматериалы</h2>
        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="Добавить" id="btnAddVideo" style="background: #a1b0d0; border: none; border-radius: 4px; color: #fff; height: 26px; text-decoration: none !important; width: 100px; margin-bottom: 10px;"/>
                <div class="clearfix"></div>
                <div id="video-container"></div>
            </div>
        </div>
        
        <div style="clear: both"></div>

        <h2 style="color: #373737">Документы</h2>
        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="Добавить" id="btnAddDoc" style="background: #a1b0d0; border: none; border-radius: 4px; color: #fff; height: 26px; text-decoration: none !important; width: 100px; margin-bottom: 10px;"/>
                <div class="clearfix"></div>
                <div id="doc-container"></div>
            </div>
        </div>

        <br />
        <div class="text-center">
            <input type="submit" value="Сохранить" class="button transition" />
        </div>
    }
</div>

<div class="clearfix"></div><br/><br/>

<script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script>
    var fileCount = 0;
    var refCount = 0;
    var docCount = 0;
    $(document).ready(function() {
        CKEDITOR.replace('Text');

        $('#btnAddPhoto').on('click', function(e) {
            var photoTemplate = '<input style="float: left;margin-top:10px;" type="file" accept=".jpeg,.jpg,.png,.bmp" name="Photos[' + fileCount + ']"/>';
            fileCount = fileCount + 1;
            $('#photo-container').append(photoTemplate);
        });
        $('#btnAddVideo').on('click', function(e) {
            var videoTemplate = '<input type="text" style="float: left;margin-right:10px;" placeholder="URL" name="VideoReferences[' + refCount + ']"/>';
            refCount = refCount + 1;
            $('#video-container').append(videoTemplate);
        });

        $('#btnAddDoc').on('click', function(e) {
            var docTemplate = '<input type="file" style="float: left;margin-top:10px;" accept=".doc,.pdf,.txt" name="Docs[' + docCount + ']"/>';
            $('#doc-container').append(docTemplate);
            docCount = docCount + 1;
        });

        $("#hidePost").click(function() {
            $("#openPost").addClass('hide');
            $("#addPost").removeClass('hide');
        });

        $("#addPost").click(function () {
            $("#openPost").removeClass('hide');
            $("#addPost").addClass('hide');
        });

    });


    function LoadDislikePhotos(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Фотоматериал дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function() {
            AjaxHelper.loadHtml('@Url.Action("GetPhotosOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }

    function LoadDislikeDocs(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Документы дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function() {
            AjaxHelper.loadHtml('@Url.Action("GetDocsOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }

    function LoadDislikeVideos(dislikeId) {
        var dialog = bootbox.dialog({
            title: 'Видеоматериал дизлайка',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Загрузка...</p>'
        });
        dialog.init(function() {
            AjaxHelper.loadHtml('@Url.Action("GetVidoesOfDislike", "Home")', { dislikeId: dislikeId }, dialog.find('.bootbox-body'));
        });
    }

</script>