﻿@using AntiRating.Helpers
@using AntiRating.Models
@model DislikeModel
@{
    ViewBag.Title = "Посты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="position-center m-top30">
<div class="row">
    <div class="col-lg-12 m-bot15">
        <h1>Редактирование поста</h1>
        <hr/>
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm("Edit", "Dislike", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ClaimId)
            @Html.HiddenFor(m => m.Author.Id)
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.Category)
                    <div class="clearfix"></div>
                    @Html.FromEnumDropDownListFor(m => m.Category, new { @class = "drop-downlist" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row m-top15 m-bot15">
                <div class="col-lg-12">
                    @Html.LabelFor(model => model.Text)
                    <div class="clearfix"></div>
                    @Html.TextAreaFor(m => m.Text)
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="clearfix"></div><br/>
            <div id="reference-container">
                <div class="col-lg-12">
                    @if (Model.VideoReferences.Any())
                    {
                        foreach (var reference in Model.VideoReferences)
                        {
                            <div class="photo-prof m-bot15 linear">
                                reference
                                <a href="@Url.Action("DeleteVideoReferenceFromDislike", "Dislike", new RouteValueDictionary {{"refText", reference}, {"dislikeId", Model.Id}})" class="delete-photo-prof button transition invert"><i class="fa fa-close"></i></a>
                                
                            </div>
                        }
                        <hr />
                    }
                </div>

            </div>
            <div class="clearfix"></div><br />

            <div class="col-lg-12">
                @if (Model.Photos.Any())
                {
                    foreach (var foto in Model.Photos)
                    {
                        <div class="photo-prof m-bot15 linear">
                            
                            <a href="@Url.Action("DeleteFileFromDislike", "Dislike", new RouteValueDictionary {{"photoId", foto.Id}, {"dislikeId", Model.Id}})" class="delete-photo-prof button transition invert"><i class="fa fa-close"></i></a>
                            @Html.ShowImage(foto.Id.Value)
                         </div>
                    }
                    <hr/>
                }
            </div>

            <div class="clearfix"></div><br />

            <div class="col-lg-12 m-bot15">
                <input type="button" value="Добавить фото к жалобе" id="btnAddPhoto" />
                <div class="clearfix"></div><br />
                <div id="photo-container" class="form-group"></div>
            </div>

                <div class="col-lg-12 m-bot15">
                    <input type="submit" value="Сохранить изменения" class="button transition" />
                    <a href="@Url.Action("Index","Home")" class="button transition invert">Назад</a>
                </div>
        }
    </div>
</div>
</div>

<div class="clearfix"></div><br /><br />

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script>
        $('#my-claim').addClass("active");

        var fileCount = 0;
        $(document).ready(function() {
            CKEDITOR.replace('Text');

            $('#btnAddPhoto').on('click', function(e) {
                var blockId = 'Photos[' + fileCount + '].FileBase';
                var photoTemplate = '<input type="file" name="' + blockId + '"/><br/>';
                $('#photo-container').append(photoTemplate);
                fileCount = fileCount + 1;
            });
           
        });

        function RemoveReference(id) {
            var blockId = '#video' + id;
            $('#reference-container').remove($(blockId));

        }


    </script>
}