﻿@using AntiRating.Helpers
@model AntiRating.Models.DislikeModel
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read</h2>
<div class="form-horizontal">
    

    @Model.Author.Login
    <br/>
    @Model.CreationDate
    <br />
    вид комментария:
    @Model.Category.Description()
    <br />
    @*тип обвинения:
    @Model.DislikeType.Description()
    <br />*@


    @Model.Text
    <br />
    фотоматериалы:
    @foreach (var photo in Model.Photos)
    {
       @Html.ShowImage(photo.Id.HasValue?photo.Id.Value:0);
    }
    <br />
    видеоматериалы:
    @foreach (var videoRef in Model.VideoReferences)
    {
        <a href=@videoRef>@videoRef</a>
        <br />
    }

</div>
