﻿@model List<AntiRating.Models.DislikeModel>



<div>

    <div class="position-center m-top15">
        <div class="col-lg-12">
            @foreach (var dislikeModel in Model)
            {
                var str = "dislike_" + @dislikeModel.Id;
                <div class="blog-view" id=@str>
                    <a style="color: #373737" class="title">@dislikeModel.Author.Login</a>
                    <div class="col-lg-12 m-bot10">
                        <div class="row">
                            <div style="color: #373737" class="calendar">
                                <i class="fa fa-calendar"></i> @dislikeModel.CreationDate.ToString("f")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="text">@Html.Raw(dislikeModel.Text) </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="list-data1">
                        <div>
                            @if (dislikeModel.VideoRefCount.HasValue && dislikeModel.VideoRefCount > 0)
                            {
                                <a href="javascript:void(0);" onclick="LoadDislikeVideos(@dislikeModel.Id);">
                                    Видео
                                    <div class="clearfix"></div>
                                    <img src="~/Images/it_07.gif" />
                                </a>
                            }
                            @if (dislikeModel.PhotosCount.HasValue && dislikeModel.PhotosCount > 0)
                            {
                                <a href="javascript:void(0);" onclick="LoadDislikePhotos(@dislikeModel.Id);">
                                    Фото
                                    <div class="clearfix"></div>
                                    <img src="~/Images/it_12.gif" />
                                </a>
                            }
                            @if (dislikeModel.DocsCount > 0)
                            {
                                <a href="javascript:void(0);" onclick="LoadDislikeDocs(@dislikeModel.Id);">
                                    Документы
                                    <div class="clearfix"></div>
                                    <img src="~/Images/it_10.gif" />
                                </a>
                            }
                        </div>

                    </div>
                    <hr class="blog-post-sep">
                </div>


            }

        </div>
    </div>



</div>
